fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
langchain==1.0.5
langchain-chroma==1.0.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.4
langchain-ollama==1.0.0
langchain-text-splitters==1.0.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.4
langgraph-sdk==0.2.9
websockets
unstructured
python-docx
uvicorn[standard]
sqlmodel
unstructured[all-docs]